<div class="collapse text-bg-dark" id="navbarHeader">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
                <h4>Блог</h4>
                <p class="text-body-secondary">Блог</p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
                <h4>Навигация</h4>
                <ul class="list-unstyled">
                    <li><a class="text-white" href="{% url 'blog:blogpost_list' %}">Главная</a></li>
                    <li><a class="text-white" href="#">Вход</a></li>
                    <li><a class="text-white" href="#">Регистрация</a></li>
                    <li><a class="text-white" href="{% url 'blog:blogpost_list' %}">Посты</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="#">
        </a>
        <button aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler" data-bs-target="#navbarHeader" data-bs-toggle="collapse"
                type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>